
body {
  background-image: url('Util/background.jpg');
  font-family: 'Chewy';
  font-size: 22px;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 8px;
  color: #008CBA;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

.buttoncenter {
  position: absolute;
  top: 35%;
  left: 33%;
}

@font-face {
  font-family: kidGreek;
  src: url('Util/kidmorphgreek.ttf');
}

#KidsClass{
  color: #008CBA; 
  text-align: center;
}

#kidsClassHours{
  color: #008CBA; 
  position: absolute; 
  top: -5%; 
  left: 38%;
}

#kidsClassTest{
  color: #008CBA; 
  position: absolute; 
  top: 1%; 
  left: 40%; 
  font-family: 'Chewy';
}

#startButton{
  padding: 61px 165px; 
  font-size: 64px;
}